# mac venv files
bin
include
lib
pyvenv.cfg

# windows venv files
Include
Lib
Scripts
pyvenv.cfg
SimpleHoopsSim.egg-info
.venv

# exclude all pycache
**/__pycache__/*
__pycache__/
__pycache__/*
/pycache
/pycache/*

# Text Editor Configs
.vscode

# Output files
output/*

# Miscellaneous
Notes.txt
tester.py